.App {
  text-align: center;
  color: white;
  background: url(http://i66.tinypic.com/28am9fs.jpg);
  background-size: cover;
}

.h2-card {
  text-align: center;
}

.center {
  text-align: center;
}
.row-kedua {
  align-content: center;
  margin-top: 30px;
}

.button-kajian-koding {
  margin: 30px;
  align-items: center;
}

.card-footnote-left {
  float: left;
  color: grey;
  font-size: 80%;
}

.card-footnote-right {
  float: right;
  color: red;
  font-size: 80%;
}
